* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0.4rem;
  border: 2px solid black;
  margin-bottom: 3rem;
}

.nav_list {
  display: inline-block;
  padding: 0 0.4rem;
  border-right: 2px solid black;
  list-style-type: none;
  height: 100%;
}

.nav_list_a {
  display: inline-block;
  margin-top: 0.3rem;
  text-decoration: none;
  color: black;
}

.last {
  border: none;
}

.active {
  color: blue;
}

#view_section {
  border: 2px solid black;
  max-width: 60%;
  margin: 0 auto;
}

.new_book {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.new_book:nth-child(odd) {
  background: lightgray;
}

.form {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  text-align: start;
}

.button {
  padding: 0.2rem;
  align-self: flex-end;
  margin-left: 1rem;
  margin-top: -1.5rem;
}

#title,
#author {
  margin-top: 0.5rem;
  width: 100%;
}

#author {
  margin-top: -1.5rem;
}

.remove_button {
  margin-right: 0.5rem;
}

.contact_list {
  width: 280px;
  margin: 1rem auto;
}

.copyright {
  position: fixed;
  bottom: 0;
  width: 95%;
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: start;
  border: 1px solid black;
}

.hidden {
  display: none;
}
